<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.chinaopensource.apiserver.system.user.mapper.UserMapper" >  
      
      <!-- 
      
    private int id;
	private String loginName;
	private String password;
	private String userName;
	private int age;
	private String phone;
	private String photo;
	private String address;
	private String email;

       -->
      
      
    <insert id="save" parameterType="com.chinaopensource.apiserver.system.user.data.User">  
        insert into user(login_name,password,user_name,age,phone,photo,address,email)
                  values(#{loginName,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{age,jdbcType=NUMERIC},
                         #{phone,jdbcType=VARCHAR},#{photo,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR})  
    </insert>  
    
</mapper>  