<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.chinaopensource.apiserver.system.user.mapper.UserMapper"  >

	<select id="findUserById" parameterType="java.lang.Integer" resultType="User">
		select * from user where id = #{id}
	</select>

	<select id="findByPhone" parameterType="java.lang.String" resultType="User">
		select * from user where phone = #{phone}
	</select>

	<select id="findByEmail" parameterType="java.lang.String" resultType="User">
		select * from user where email = #{email}
	</select>

	<select id="findByVerificationCode" parameterType="java.lang.String" resultType="User" >
		select * from user where verification_code = #{verificationCode}
	</select>

	<select id="findAllUser" resultType="User" >
		select * from user where delete_flag != 1
	</select>

	<select id="findPasswordByLoginName" parameterType="java.lang.String" resultType="java.lang.String">
		select password from user where login_name = #{loginName}
	</select>

	<select id="findUserByLoginName" parameterType="java.lang.String" resultType="User" >
		select * from user where login_name = #{loginName}
	</select>
	
	<update id="updateStatus" >
		update user
		set status = #{status}
		where id = #{id}
	</update>

	<insert id="save" parameterType="com.chinaopensource.apiserver.system.user.data.User">
		insert into user(login_name,password,nick_name,age,phone,
		photo,address,email,status,create_time,delete_flag,verification_code)
		values(#{User.loginName},#{User.password},#{User.nickName},#{User.age},#{User.phone},
			#{User.photo},#{User.address},#{User.email},#{User.status},
		    #{User.createTime},#{User.deleteFlag},#{User.verificationCode})
	</insert>

	<update id="delete" parameterType="java.lang.Integer">
		update user set  delete_flag = 1 where id = #{id}
	</update>

	<update id="updateUser" parameterType="user">
		update user set
		<if test="user.nickName != null">
			nick_name = #{user.nickName},
		</if>
		<if test="user.phone != null">
			phone = #{user.phone},
		</if>
		<if test="user.address != null">
			address = #{user.address},
		</if>
		<if test="user.age != null">
			age = #{user.age},
		</if>
		login_name = #{user.loginName} where login_name = #{user.loginName}
	</update>
</mapper>